{% extends 'base.html' %}


{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.komIip1g0pzP2vpbJnKebQAAAA%26pid%3DApi&f=1" class="card-img-top" alt="about image">
    <div class="card-body">
      <h5 class="card-title">The Times E-magazine</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
{% endblock content %}
    